doctype html
head
  script(type='text/javascript', src='as.js')
  include partials/head.pug
#container
  #header
    img(src='/images/forge-logo-gray.png' alt='Autodesk Forge Digital Twin Demo')
    h Digital Twin Demo
  #viewer
  h2#content(style='text-align:center;margin-top:20px;') Engine is not Ready
   h2#content-after(style='text-align:center;margin-top:20px;display:none') Engine Stopped
  #sidebar(style='display:none')
    include partials/sidebar.pug
  include partials/footer.pug
 

  